<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @position_status.value %>
</p>

<%= link_to 'Edit', edit_position_status_path(@position_status) %> |
<%= link_to 'Back', position_statuses_path %>
