<h1>Proposition <%= @proposition.id %></h1>

  <p>
    Position: <%= @proposition.position %>
	
  </p>
  
  <p>
	Resource <%= @proposition.resource %>
	
  </p>
  
  <p>
    Date <%= @proposition.proposal_date %>
  </p>
  
  <p>
    Last status ...
  </p>
  
  
  <p>
    Last status update ...
  </p>
  